body {
  overflow-x: hidden;
  overflow-y: visible;
  background-color: #0c0c0c;
  color:#fff ;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-left: 10px solid var(--primary-color);
  border-right: 10px solid var(--primary-color);
}

